# Директории и файлы, игнорируемые в проекте
/vendor/
node_modules/
*.log

# Docker
docker-compose.override.yml
*.swp
*.bak
*.tmp
*.pid

# PHP
*.cache
*.phar
*.class
*.exe

# IDE и редакторы
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.iml

# Конфиденциальные файлы
.env
